<div class="container">
  <div class="row">
    <div class="col-12">
      <app-create-exam-stepper (examConfigEvent)="setExamConfig($event)" (examListEvent)="setExamList($event)"></app-create-exam-stepper>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab
          *ngFor="let exam of examQuizList; let i = index"
          label="Đề số {{ i + 1 }}"
        >
          <app-exam-list [examQuizList]="exam"></app-exam-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>